$gglYellow: #fd0;
$gglBlack: #000;

$primary: $gglYellow;

.image .is-movie-poster {
    aspect-ratio: 5/7;
}

.image .in-list {
    max-height: 64px;
}

.tag:not(body).is-license-mplc {
    background-color: hotpink;
    color: white;
}

.tag:not(body).is-cooperation {
    background-color: blueviolet;
    color: white;
}

.tag:not(body).is-license-unclear {
    background-color: lightsalmon;
    color: white;
}

.tag:not(body).is-media-ordered {
    background-color: darkorange;
    color: white;
}

.tag:not(body).is-media-provided {
    background-color: violet;
    color: white;
}


.menu.stick {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    top: 0;
    bottom: 0;
}
.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	gap: 0.5em;
}

.card{
	height: max-content;
    border-radius: 25px;
    border-color: $gglYellow;
    border-width: 2px;
    border-style: dotted;
}

img.no-navbar-filter {
    max-height: fit-content !important;
}

.container {
    max-width: none !important;
    width: 100%;
  }
  
  @media screen and (min-width: 1024px) {
    .container {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-list/sass/bulma-list.sass";
@import "../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";
@import "../node_modules/remixicon/fonts/remixicon.css";