$gglYellow: #ffdd00;
$primary: $gglYellow;

/* Other brand colors */

// MPLC Deutschland GmbH
$mplcBlue: #096587;
$mplcBlue-invert: findColorInvert($mplcBlue);

:export {
  primary: $primary;
  success: hsl(153, 53%, 53%);
  danger: hsl(348, 86%, 61%);
}